{% extends 'global/base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="header-list-container">
    <div class="checkout-section">
        <div class="button-group">
            <div class="button-group">
                <form action="{% url 'ver_carrinho' %}" method="GET">
                    {% csrf_token %}
                    <button type="submit">Carrinho</button>
                </form>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>  
<div class="main-content main-content-list container">
  {% for item in produtos_com_estoque %}
        {% include 'templates/app/partials/produtos.html' %}
    {% empty %}
        <div class="margin">
            <h1>😭 Nenhum produto encontrado 😭</h1>
        </div>
    {% endfor %}
</div>
{% endblock content %}
