{% extends 'global/base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="main-content main-content-list container">
    <div class="header-list-container">
        <div class="user-info">
            <h1><i class="fas fa-solid fa-user"></i> : {{ usuario }}</h1>
            
            <form action="{% url 'logout' %}" method="POST" class="user-action">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-solid fa-user-slash"></i>: Logout</button>
            </form>
        </div>    
    </div>  
    <div class="header-list-container">
        <form action="{% url 'ver_carrinho' %}" method="GET" class="user-action">
            {% csrf_token %}
            {% if itens_carrinho == 1 %}
                <button type="submit"><i class="fas fa-solid fa-cart-plus"></i>: {{ itens_carrinho }} item - R${{valor_carrinho}}</button>
            {% else %}
                <button type="submit"><i class="fas fa-solid fa-cart-plus"></i>: {{ itens_carrinho }} itens - R${{valor_carrinho}}</button>
            {% endif %}
        </form>
    </div>  
</div>
<div class="main-content main-content-list container">
  {% for item in produtos_com_estoque %}
        {% include 'templates/app/partials/produtos.html' %}
    {% empty %}
        <div class="margin">
            <h1>😭 Nenhum produto encontrado 😭</h1>
        </div>
    {% endfor %}
</div>
{% endblock content %}
