{% extends 'global/base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="header-list-container">
    <div class="left">
        <h1>
            <i class="fas fa-solid fa-list"></i> Produtos
        </h1>
    </div>
</div>  
<div class="main-content main-content-list container">
  {% for item in produtos_com_estoque %}
        {% include 'templates/app/partials/produtos.html' %}
    {% empty %}
        <div class="margin">
            <h1>😭 Nenhum produto encontrado 😭</h1>
        </div>
    {% endfor %}
</div>
{% endblock content %}
