{% extends 'global/base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}
<div class="header-list-container">
    <h2>Registrar-se</h2>
</div>  
<div class="main-content main-content-list container">
    <div class="product product-list-item">
        <form method="POST" action="{% url 'registro' %}">
            {% csrf_token %}
            <table>
                {{ formulario.as_table }}
            </table>
            <div class="checkout-section">
                <div class="button-group">
                    <button type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="checkout-section">
    <div class="button-group">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">Voltar</button>
        </form>
    </div>
</div>
{% endblock %}
