{% extends 'global/base.html' %}

{% block title %}Carrinho{% endblock %}

{% block content %} 
<div class="header-list-container">
    <div class="left">
        <h1>
            <i class="fas fa-solid fa-cart-plus"></i> Carrinho
        </h1>
    </div>
</div>  
<div class="main-content main-content-list container">
    {% for item in produtos_no_carrinho %}
        <div class="product product-list-item">
            <div class="product-cover">        
                <img src="{{ item.produto.imagem.url }}" alt="" />
            </div>
        
            <div class="product-title-container">
                <h2 class="product-title">
                    <p>{{ item.produto.nome }}</p>
                </h2>
            </div>
            
            <div class="product-value-container">
                <div class="product-servings">
                    <h3 class="product-meta-title">
                        <i class="fas fa-money-bill"></i> Preço
                        <div class="product-meta-text">R${{ item.produto.preco_venda }}</div>
                    </h3>
                    <h3 class="product-meta-title">
                        <i class="fas fa-solid fa-layer-group"></i> Quantidades 
                        <div class="product-meta-text">{{ item.quantidade }} un.</div>
                    </h3>
                    <h3 class="product-meta-title">
                        <i class="fas fa-solid fa-square"></i> Total
                        <div class="product-meta-text">R${{ item.valor }}</div>
                    </h3>
                </div>
            </div>   

            <footer class="product-footer out-product">
                <a class="product-read-more button button-dark button-full-width" href="{% url 'remove_do_carrinho' item.produto.id %}">
                    <i class="fas fa-solid fa-minus"></i>
                    <span>Remover Item</span>
                </a>
            </footer>
        </div>
    {% endfor %}
</div>

<div class="checkout-section">
    <h1>
        {% if itens == 1 %}
        <i class="fas fa-solid fa-cart-plus"></i> Seu Carrinho: {{ itens }} Item R${{ valor_total }}
        {% else %}
        <i class="fas fa-solid fa-cart-plus"></i> Seu Carrinho: {{ itens }} Itens R${{ valor_total }}
        {% endif %}
    </h1>
    <div class="button-group">
        <div class="add-product">
            <form action="{% url 'lista_produtos' %}" method="GET">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-solid fa-cart-plus"></i> Continuar Comprando</button>
            </form>
        </div>
        <div class="finish-buy">
            <form action="{% url 'pagamento' %}" method="GET">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-solid fa-check"></i> Ir para Pagamento</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

