:root {
  --color-primary: #169ae7;
  --color-primary-hover: #1b8dcf;
  --color-primary-dark: #e68a13;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #e01717;
  --color-red-hover: #be1616;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: "Roboto Slab", serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-dark-text);
  background-color: var(--color-gray-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
}

.main-header-container {
  background-color: var(--color-primary-dark);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

.main-logo {
  font-size: 4rem;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 2rem;
}

.search-form {
  border: 0.2rem solid var(--color-primary-dark);
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
}

.search-form:hover {
  transform: scale(1.005);
  box-shadow: 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.11);
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-button:focus {
  outline: 0.1rem solid var(--color-primary);
  background-color: rgba(129, 194, 248, 0.521);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background-color: var(--color-white);
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: var(--spacing-gutter-large);
}

.product {
  background-color: var(--color-white);
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.6rem;
  overflow: hidden;
}

.product img {
  max-width: 100%;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-list-item {
  max-width: 35rem;
  margin: 0 auto; 
  padding: 1rem; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: fit-content; 
}

.product-list-item:hover {
  transform: scale(1.02);
  box-shadow: -0.8rem 0.8rem 1.8rem rgba(0, 0, 0, 0.25);
}

.product-title-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-title-container a {
  text-decoration: none;
  color: var(--color-primary-dark-hover);
  transition: all 300ms ease-in-out;
}

.product-title-container a:hover {
  color: var(--color-primary-dark);
}

.product-content {
  padding: var(--spacing-gutter-medium);
  padding-top: 2rem;
}

.product-meta-container {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  background: var(--color-gray-1);
}

.product-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.product-meta-title {
  font-size: 1.6rem;
}

.header-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.right button {
  background: var(--color-primary);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  transition: all 300ms ease-in-out;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.6rem;
}

.right button:hover {
  background-color: var(--color-primary-hover);
}

.product-unavailable {
  background: var(--color-red);
  color: var(--color-white);
  text-align: center;
  padding: 2rem;
  border: 1px solid;
  border-radius: 8px;
}

.product-footer a {
  background: var(--color-primary);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  transition: all 300ms ease-in-out;
  border: 1px solid;
  border-radius: 8px;
}

.product-footer a:hover {
  background: var(--color-primary-hover);
}

.main-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  background: var(--color-primary-dark);
  color: var(--color-gray-0);
  padding: var(--spacing-gutter-large);
  padding-top: 2rem;
  font-size: 1.5rem;
  }

.preparation-steps {
  padding: var(--spacing-gutter-medium);
  font-family: var(--font-headings);
  color: var(--color-dark-text);
}

.main-footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(0.8);
}

.main-content-detail .product-list-item {
  max-width: 58rem;
  margin: 0 auto;
}

.main-content-detail .product-list-item:hover {
  transform: scale(1);
  box-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
}

.pagination .page-item { 
  background: var(--color-gray-3);
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.pagination .page-link {
  text-decoration: none;
  background: #fd3286cc;
  color: var(--color-white);
}

.pagination .page-current {
  background: #ff4190b6;
}

/* Botao */

.checkout-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  max-width: 58rem; 
}

.checkout-section p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.checkout-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 1rem; /* Espaço entre os botões */
  max-width: 400px; /* Ajuste conforme necessário */
  width: 100%;
  justify-content: center; /* Centraliza os botões dentro do contêiner */
}

.checkout-section button {
  background: var(--color-primary);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 1.5rem;
  transition: all 300ms ease-in-out;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 25rem;
}

.out-product button{
  background: var(--color-red);
}

.checkout-section button:hover {
  background-color: var(--color-primary-hover);
}

.out-product button:hover{
  background: var(--color-red-hover);
}

/* Generics */

.margin {
  margin: 30rem 0;
  text-align: center;
}

.back {
  font-family: var(--font-headings);
  font-size: 2rem;
  color: var(--color-primary);
  text-decoration: none;
  padding: var(--spacing-gutter-medium);
  transition: all 300ms ease-in-out;
}

.back:hover {
  color: var(--color-primary-hover);
}

.padding {
  padding-top: 2rem;
}

.product-value-container {
  color: var(--color-primary-dark-hover);
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  flex-flow: row wrap;
  background: var(--color-gray-0);
}

@media (max-width: 600px) {
  .main-content-list,
  .form-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .main-footer {
    display: inline-table;
    align-items: baseline;
    justify-content: space-evenly;
    background: var(--color-primary-dark);
    color: var(--color-gray-0);
    padding: 30%;
    padding-top: 1rem;
    font-size: 1.5rem;
    }
}