<div class="search-container">
    <div class="container">
        <form action="{% url 'filtrar' %}" method="GET" class="search-form">            
            {% csrf_token %}
            <input type="search" class="search-input" name="q" value="{{ filtro }}" required placeholder="Encontre o que precisa aqui!">
            <button type="button" class="search-button" id="scan-barcode"><i class="fas fa-solid fa-camera"></i></button>
        </form>
        <div id="interactive" class="viewport"></div>
    </div>
</div>
