<footer class="main-footer">
    <div>
        <h2>Localização</h2>
        <address>Cidade- Mandaguari<br>CEP- 86975-000<br>Rua- Lord Lovat n°420, Jardim Esplanada</address>
        <a href="https://www.google.com/maps/place/COCARI+-+Cooperativa+Agropecu%C3%A1ria+e+Industrial/@-23.5213409,-51.6880771,17.04z/data=!4m6!3m5!1s0x94ecc0716a7c0c43:0xfeed885bf97ecb91!8m2!3d-23.5200983!4d-51.6892947!16s%2Fg%2F12vtsw_h6?entry=ttu" target="_blank" rel="noreferrer noopener">
            <i class="fas fa-solid fa-map"></i> Ver no mapa</a>
    </div>

    <div class="padding">
        <h2>Repositório</h2>
        <a href="https://github.com/FelipeTreis/mercadinho_ti" target="_blank" rel="noreferrer noopener"><i class="fab fa-brands fa-github"></i> GitHub</a>
    </div>

    <div class="padding">
        <h2>Feito em</h2>
        <a href="https://www.python.org/" target="_blank" rel="noreferrer noopener"><i class="fab fa-brands fa-python"></i>
            Python</a><br>
        <a href="https://www.djangoproject.com/" target="_blank"
            rel="noreferrer noopener"><i class="fab fa-brands fa-python"></i>
            Django</a>
    </div>
</footer>