<div class="product product-list-item">
    <div class="product-cover">        
        <img src="{{ item.produto.imagem.url }}" alt="" />
    </div>

    <div class="product-title-container">
        <h2 class="product-title">
            <p>{{ item.produto.nome }}</p>
        </h2>
    </div>
    
    <div class="product-value-container">
        <div class="product-servings">
            <h3 class="product-meta-title">
                <i class="fas fa-money-bill"></i> Preço
                <div class="product-meta-text">R${{ item.produto.preco_venda }}</div>
            </h3>
            <h3 class="product-meta-title">
                <i class="fas fa-solid fa-layer-group"></i> Quantidades disponíveis
                <div class="product-meta-text">{{ item.quantidade }} un.</div>
            </h3>
        </div>
    </div>   

    <footer class="product-footer">
        {% if item.quantidade == 0 %}
            <div class="quantity-container">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" value="0" min="0" max="0">
            </div>
            <div class="product-unavailable">
                <i class="fas fa-times-circle"></i>
                <span>Produto Indisponível</span>
            </div>
        {% else %}
            <form method="POST" action="{% url 'adicionar_ao_carrinho' item.produto.id %}" class="product-form">
                {% csrf_token %}
                <div class="quantity-container">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" value="1" min="1" max="{{ item.quantidade }}">
                </div>
                <button type="submit" class="product-buy button button-dark button-full-width">
                    <i class="fas fa-solid fa-cart-plus"></i>
                    <span>Comprar </span>
                </button>
            </form>
        {% endif %}
    </footer>    
</div>