<div class="product product-list-item">
    <div class="product-cover">        
        <img src="{{ item.produto.imagem.url }}" alt="" />
    </div>

    <div class="product-title-container">
        <h2 class="product-title">
            <p>{{ item.produto.nome }}</p>
        </h2>
    </div>
    
    <div class="product-value-container">
        <div class="product-servings">
            <h3 class="product-meta-title">
                <i class="fas fa-money-bill"></i> Preço
                <i class="fas fa-solid fa-layer-group"></i> Quantidades disponíveis
            </h3>
            <div class="product-meta-text">R${{ item.produto.preco }} {{ item.quantidade }} un.</div>
        </div>
    </div>   

    <footer class="product-footer">
        {% if item.quantidade == 0 %}
            <div class="product-unavailable">
                <span>Produto Indisponível</span>
            </div>
        {% else %}
            <a class="product-read-more button button-dark button-full-width" href="{% url 'adicionar_ao_carrinho' item.produto.id %}">
                <i class="fas fa-solid fa-cart-plus"></i>
                <span>Adicionar ao Carrinho</span>
            </a>
        {% endif %}
    </footer>
</div>